<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <style>
        .heading {
            margin-left: 10em;
            margin-top: 1em;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Registration Page</title>
</head>
<body>
    <h1 class="heading">Registration Page</h1>
    <a href="/" style="margin-left: 10em;">Back to Home</a>
    <form class="form-group" style="margin-top: 5em;" action="register" method="post">
        {% csrf_token %}
        <div class="container col-6">
            <div class="form-control mb-8">
                <input type="text" name="first_name" placeholder="First Name" required><br><br>
                <input type="text" name="last_name" placeholder="Last Name" required><br><br>
                <input type="text" name="username" placeholder="UserName" required><br><br>
                <input type="text" name="email" placeholder="Email Id" required><br><br>
                <input type="password" name="password" placeholder="Password" required><br><br>
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br><br>
                <input class="btn btn-primary" type="submit" value="Register"><br><br>
            </div>
        </div>
    </form>
    <div>
        {% for message in messages %}
            <h4 style="color: red;">{{message}}</h4>
        {% endfor %}
    </div>
</body>
</html>